body {
    background: #f4d279;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: #dc8051;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: #8d9c09;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #dc8051;
}


#mainNavbar .navbar-brand {
    color: black;
}

#headingGroup span {
    color: #8d9c09;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4em;
}

.navbar.scrolled {
    background: #8d9c09;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3em;
    }
}